{% extends 'layout.html' %}

{% block main %}
    <div class="blog-content">
        <div class="blogbox">
            <h3>{{content.title}}</h3>
            <p class="blogtime">发表时间：<span>{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}} </span>     阅读：<span>{{content.views}}</span></p>
            <p class="subtitle">
                {{content.description}}
            </p>
            <div class="blogcon">
                {{content.content}}
            </div>
        </div>
    </div>
    <div class="commentsBox">
        {% for comment in content.comments%}
        <div class="comment">
            <div class="commentsName">{{comment.username}}</div>
            <div class="commentSay">{{comment.content}}</div>
        </div>
        {% endfor %}
    </div>
    {% if userInfo._id %}
    <div class="submitSay">
        <textarea name="content" id="messageContent" cols="30" rows="10" bid={{content._id.toString()}}></textarea>
        <button id="messageBtn">提交</button>
    </div>
    {% else %}
    <p class="noLogin">
        没登录无法评论哦
    </p>
    {% endif %}
{% endblock %}