{% extends 'layout.html' %}

{% block main %}
    <div class="blog-content">
        {% if content.length == 0 %}
            <p>该分类下没有文章</p>
        {% endif %}
        {% for content in content %}
            <div class="blog-box">
                <h5 class="blog-title">{{content.title}}</h5>
                <p class="blog">
                    <a href="/content/blog?contentID={{content._id.toString()}}">{{content.description}}</a>
                </p>
                <p class="blog-infos">
                    <i class="blog-time">{{content.addTime.getFullYear()}}年{{content.addTime.getMonth()+1}}月{{content.addTime.getDate()}}日    {{content.addTime.getHours()}}小时{{content.addTime.getMinutes()}}分{{content.addTime.getSeconds()}}秒</i>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}